[
  {atoms,
    {truth, true},
    {truth_is_not_always_boolean, true},
    {strings_are_not_atoms, false},
    {however_atoms_might_look_like_a_string, true}},
  {pattern_matching,
    {what_looks_like_assignment_might_not_be, apple},
    {assignment_with_a_tuple, apple, banana},
    {sometimes_we_do_not_need_to_know_everything, banana}}
]
