{about_atoms, [
    {truth, true},
    {truth_is_not_always_boolean, true},
    {strings_are_not_atoms, false},
    {however_atoms_might_look_like_a_string, true}
  ]}.
{about_boolean_expressions, [
    {or_operator, true},
    {and_operator, false},
    {xor_operator, true},
    {not_operator, false},
    {being_strict, false},
    {being_not_so_strict, true},
    {special_words_evaluate_only_what_is_necessary, false},
    {this_applies_to_or_as_well, true},
    {make_de_morgan_proud, true}
  ]}.
{about_pattern_matching, [
    {what_looks_like_assignment_might_not_be, apple},
    {assignment_with_a_tuple, banana},
    {branching_on_patterns, apple},
    {sometimes_we_do_not_need_to_know_everything, apple},
    {and_sometimes_we_dont_need_to_match_anything, anything}
  ]}.
{about_lists, [
    {lists_are_not_homogenious, 1},
    {we_can_add, [mango, orange]},
    {we_can_also_take_away, [apple]},
    {lists_have_heads, apple},
    {lists_also_have_tails, [banana, mango]},
    {constructing_with_cons, [apple, banana, mango, pear]},
    {length_is_as_simple_as_it_seems, 3},
    {lists_of_tuples_can_be_found_by_key, pasta}
  ]}.
{about_dicts, [
    {dictionaries_give_the_definition_of_a_key, value},
    {append_assumes_something, [value]},
    {fetching_what_is_not_available_is_troublesome, badarg},
    {however_find_is_a_bit_safer, error},
    {find_reports_on_matches, ok},
    {erasing_from_a_dict, error},
    {size_is_relative, false}
  ]}.
{about_higher_order_functions, [
    {map_a_list_to_a_new_list, [2, 4, 6]},
    {fold_an_answer_from_the_left, "hello erlang koans"},
    {or_from_the_right, "hello koans erlang"},
    {filter_the_appropriate_values, [2, 4]},
    {merging_two_dicts, [first_value, second_value]},
    {function_passed_to_a_function, {function, "fun(List) -> lists:reverse(List) end."}}
  ]}.
{about_processes, [
    {writing_messages_to_yourself, "Hello Self!"},
    {writing_messages_to_your_friends, ping}
  ]}.

